
.perkitem img {
  height: 125px;
  width: auto;
  pointer-events: none;
  -webkit-user-drag: none;
  -moz-user-select: none;    
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;  

}
.perkitem::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 11px;
  width: 76px;
  height: 76px;
  background-image: url(/texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  z-index: -1;
  mix-blend-mode: multiply;
}

.perkgrid {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(3, 105px);
  justify-content: center;
  margin-right: 60px;
}

.perkitem:nth-child(n+6):nth-child(-n+10) {
  left: 60px;
}





.perkTooltip {
  position: absolute;
  border-radius: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 100%;
  z-index: 10000;
}

.perkTooltip::after {
    content: '';
    position: absolute;
    background-image: url(/shadow.png);
    background-size: contain;
    opacity: 0.66;
    bottom: -50px;
    left: 50%;
    width: 100%;
    height: 50px;
    transform: translateX(-50%);


}



.perkHeader {
  height: 50px;
  position: relative; 
  background-image: url('/purple1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  padding: 12px 25px 6px 16px;
}


.perkHeader::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0px;
  width: 15%; 
  height: 60%; 
  background-image: url('/scars.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 6;
}


.perkHeader h3{
  font-weight: 700;
  font-size: 20px;
  margin: 0;

}

.perkHeader p {
  color: #C2ADC7;
  margin: 0;
}



.perkBottom{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 20px 35px 20px 20px;
  /* text-align: justify; */
  width: 25vw;
  max-width: 450px;
  z-index: 1000;
  pointer-events: none;
  
} 

.perkBottom p{
  margin: 0;
  margin-bottom: 20px;

}

.perkComment{
  color: #BFB99C;
  font-style: italic;
}

.statusEffect{
  color: #D3C18B;
  font-style: italic;
}
