.input{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/searchbar.png");
    width: 240px;
    height: 44px;
    font-size: 20px;
    color: #767879;
    padding-left: 15px;
    font-family: 'roboto';
    border: none;
}


.inputWrapper {
    position: relative;
    display: inline-block;
  }

  
.input:focus {
    caret-color: #767879;
    outline: none;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px; 
    height: 24px; 
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

.searchIcon {
    background-image: url('/search.svg'); 
  }
  
  .clearIcon {
    background-image: url('/close.svg'); 
  }


.search{
  display: flex;
  justify-content: space-around
}